*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --puerple:#820Ad1;
    --dark:#0B0014;
    --puerple-dark:#6b07b0;

}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:(var(--dark));
}
header{
    position: fixed;
    top:0;
    width: 100%;
    height: 64px;
    backdrop-filter:blur(10px) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 99;
    background-color: rgba(255,255,255,0.8);

}


.logo-img{
    height: 26px;

}

header nav{
    display: flex;
    gap: 25px;
}
header nav a {
    color: #0B0014;
    text-decoration:none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

header nav a:hover{
    color: #820Ad1;

}

.btn-nubank{
    background-color: #820Ad1;
    color:white;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}

.hero{
    min-height: 100vh;
    background: url(fundo1.jpg) center /cover no-repeat;
    padding: 0px 40px 80px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    border-radius: 0 0 40px 40px;


}

.hero::before{
    content:'';
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0,1), rgba(0,0,0,0.6));
}

.hero-content{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap:48px;
    position: relative;
    z-index: 1;
    
}

.hero-text{
    max-width: 480px;
}

.hero-text h1{
    color: white;
    font-size: 45px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 32px;
}

.hero-card{
    background: white;
    border-radius: 16px;
    padding: 32px;
    box-shadow: 0 4px 20px rgba(0,0,0,0,1);


}

.hero-card h2{
    font-size: 20px;
    font-weight: 700px;
    margin: 24px;
}

.hero-card label{
    display: block;
    font-size: 14px;
    color:gray;
    margin-bottom: 8px;

}

.hero-card input{
    width: 100%;
    padding: 12px 16px;
    border:none;
    border-radius: 20px;
    background-color: #f4f4f4;

}

.btn-confirm{
    width: 100%;
    background-color: #820Ad1;
    padding: 14px;
    border-radius: 8px;
    font-size: 14px;
    font-size: bold;
    border: none;
    cursor: pointer;
    color: white;
    margin-top: 10px;
}

.services{
    padding: 60px 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}


.services a {
    display: flex;
    flex-direction: column;
    gap:8px;
    align-items: center;
    text-decoration: none;
    color: #0B0014;
    font-size: 14px;
    font-weight: 700;

}

.services a:hover{
    color: #820Ad1;
}


.card-section{
    background-color: #0B0014;
    padding: 100px 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}


.credit-card{
    width: 360px;
    height: 220px;
    background: linear-gradient(135deg,var(--puerple),var(--puerple-dark)) ;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 20px 40px rgba(130,10,209,0.3);
}


.card-chip{
    background: linear-gradient(135deg,#FFD700,#FFA500);
    height: 35px;
    width: 45px;
    border-radius: 8px;
    margin-bottom: 30px;
}


.card-number{
    color:rgba(255,255,255,0.7);
    font-size:18px;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

.card-info{
    display: flex;
    justify-content: space-between;
}

.card-info span{
    color: rgba(255,255,255,0.7);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

    


.card-info strong{
    font-size: 24px;
    color: white;
}


.card-text{
    max-height: 480px;
}

.card-text h2{
    color: white;
    font-weight: 800px;
    font-size: 40px;
    margin-bottom: 16px;
}
.card-text p{
    color: rgba(255,255,255,0.7);
    font-size:16px;
    line-height: 1.7;
    margin-bottom: 24px;
}

.card-text ul{
    list-style: none;
    margin-bottom: 24px;

}

.card-text ul li{
    color:rgba(255,255,255,0.9);
    font-size: 18px;
    padding: 6px 0 ;
}


.card-text ul li::before{
    content: "✓";
    color: var(--puerple);
    margin-right: 10px;
}

.btn-purple{
    background-color:var(--puerple);
    display: inline-block;
    color:white;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 700px;
    text-decoration: none;
}


.cta{
    padding:100px 40px ;
    text-align: center;
    background: linear-gradient(135deg,var(--puerple),var(--puerple-dark)) ;
}


.cta h2{
    color:white;
    font-size: 36px;
    font-weight: 800px;
    margin-bottom: 24px;
}

.cta p{
    font-size: 18px;
    color: rgba(255,255,255,0.8);
    margin-bottom: 32px;
}

.cta .btn-cta{
    display: inline-block;
    background-color: white;
    color: var(--puerple);
    padding: 16px 40px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700px;
    text-decoration: none;
    transition: 0.5s;
    cursor:pointer;
}

.cta .btn-cta:hover{
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(255,255,255,0.3);
}


footer{
    background-color: #0B0014;
    padding: 60px 40px 30px;

}

.footer-links{
    max-width: 1200px;
    margin: 0 auto 40px;
    display: flex;
    gap: 60px;
}

.footer-logo{
    height: 22px;
    margin-bottom: 20px;
}


.footer-links h4{
    
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 16px;
}

.footer-links{
    flex: 1;
}

.footer-first-child{
    flex: 2;
}
.footer-first-child p{
    color:rgba(255,255,255,0.5);
    font-size: 14px;
    margin-bottom: 20px;
}

.footer-logo{
    height: 22px;
    margin-bottom: 20px;
}
.footer-bottom{
    text-align: center;
    color: rgba(255,255,255,0.5);
}